.article {
  position: relative;

  background-color: var(--white);

  border-radius: 8px;
  box-shadow: 0px 5px 24px -13px var(--primary);
  padding: 24px;
  padding-top: 32px;

  &.borderLeft {
    border-left: solid 6px var(--primary);
  }

  img {
    position: absolute;
    width: 50px;
    top: -26px;
  }

  hr {
    margin: 16px 0;
    color: var(--dark-cyan);
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoWrapper {
      display: flex;
      gap: 24px;
    }

    img {
      position: inherit;
      width: auto;
    }

    hr {
      display: none;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.badges {
  display: flex;
  gap: 16px;
}

.company {
  color: var(--primary);
  font-weight: 700;
}

.position {
  cursor: pointer;
  font-weight: 700;

  &:hover {
    color: var(--primary);
  }
}

.details {
  color: var(--dark-cyan);
  display: flex;
  gap: 32px;
  list-style: disc;

  :first-child {
    list-style: none;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  button {
    height: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--light-cyan);
    color: var(--primary);
    font-weight: 700;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}
